application:
  log_format: "%(asctime)s %(levelname)s %(name)s \u2500 %(message)s"
  log_level: INFO
  name: Jarvis
  tts_enabled: true
asr:
  engine: whisper
  whisper:
    compute_type: int8
    device: cpu
    model_size: small
home_assistant:
  enabled: true
  token: ''
  url: http://localhost:8123
llm:
  base_url: http://localhost:8000/v1
  context_window: 8192
  filename: mlabonne_Qwen3-4B-abliterated-Q4_K_M.gguf
  local_dir: pretrained_models/llm
  model_alias: Qwen3
  repo_id: bartowski/mlabonne_Qwen3-4B-abliterated-GGUF
mcp:
  servers:
    brave_search:
      transport: sse
      url: http://127.0.0.1:4002/messages
    google_maps:
      transport: sse
      url: http://127.0.0.1:4001/messages
    mcp-fetch:
      transport: sse
      url: http://127.0.0.1:4003/messages
    weather:
      transport: sse
      url: http://127.0.0.1:4004/messages
openwb:
  enabled: true
  ip: 192.168.1.68
spotify:
  redirect_uri: http://127.0.0.1:8888/callback
tools:
  calculator: true
  currency: true
  home_assistant: true
  news: true
  openwb: true
  spotify: true
  system: true
  translator: true
  weather: true
  web_search: true
  wikipedia: true
tts:
  chatterbox:
    audio_prompt_path: voice_samples/jarvis_sample.wav
    device: cpu
    language: en
    model_name: ChatterboxMultilingualTTS
  engine: kokoro
  kokoro:
    lang_code: a
    sample_rate: 24000
    voice: am_liam
