application:
  log_format: "%(asctime)s %(levelname)s %(name)s \u2500 %(message)s"
  log_level: INFO
  name: Jarvis
  tts_enabled: true
asr:
  engine: vosk
  mode: server
  vosk:
    lang: en
    model_path: pretrained_models/vosk/model
    models:
      de: pretrained_models/vosk/model_de
      en: pretrained_models/vosk/model_en
  whisper:
    compute_type: int8
    device: mps
    model_size: tiny
eufy:
  country: DE
  enabled: true
  password: ''
  username: ''
  ws_url: ws://localhost:3000
go2rtc:
  api_url: http://localhost:1984/api
  stream_url: http://localhost:1984/stream.html
home_assistant:
  enabled: true
  token: ''
  url: http://localhost:8123
llm:
  base_url: http://localhost:8000/v1
  context_window: 10000
  gemini:
    model: gemini-2.5-flash
  local:
    filename: functiongemma-270m-it-Q4_K_M.gguf
    local_dir: pretrained_models/llm
    model_alias: Gemma
    repo_id: unsloth/functiongemma-270m-it-GGUF
  ollama_cloud:
    base_url: https://ollama.com
    model: nemotron-3-nano:30b-cloud
  provider: ollama-cloud
mcp:
  servers:
    brave_search:
      transport: sse
      url: http://127.0.0.1:4002/messages
    google_calendar:
      transport: sse
      url: http://127.0.0.1:4005/messages
    google_maps:
      transport: sse
      url: http://127.0.0.1:4001/messages
    mcp-fetch:
      transport: sse
      url: http://127.0.0.1:4003/messages
    notion:
      transport: sse
      url: http://127.0.0.1:4006/messages
    weather:
      transport: sse
      url: http://127.0.0.1:4004/messages
openwb:
  enabled: true
  ip: 192.168.1.74
spotify:
  redirect_uri: http://127.0.0.1:8888/callback
tools:
  calculator: true
  currency: true
  eufy: true
  google_calendar: true
  home_assistant: true
  news: true
  notion: true
  openwb: true
  roborock: true
  spotify: true
  system: true
  translator: true
  weather: true
  web_search: true
  wikipedia: true
tts:
  chatterbox:
    audio_prompt_path: voice_samples/jarvis_sample.wav
    device: cpu
    language: en
    model_name: ChatterboxMultilingualTTS
  elevenlabs:
    model_id: eleven_flash_v2_5
    similarity_boost: 0.75
    stability: 0.5
    voice_id: 3ykCLzjor6Ws3YQsVXP9
  engine: kokoro
  fish_speech:
    reference_audio_path: voice_samples/jarvis_sample.wav
    reference_text_path: voice_samples/jarvis/sample.lab
    url: http://localhost:7861
  kokoro:
    lang_code: a
    sample_rate: 24000
    voice: am_liam
  xtts:
    language: en
    local_model_path: pretrained_models/xtts-v2
    speaker_wav: voice_samples/jarvis_sample.wav
