application:
  log_format: "%(asctime)s %(levelname)s %(name)s \u2500 %(message)s"
  log_level: INFO
  name: Jarvis
asr:
  engine: whisper
  whisper:
    compute_type: int8
    device: cpu
    model_size: small
llm:
  base_url: http://localhost:8000/v1
  context_window: 8192
  filename: Qwen3-4B-Instruct-2507-abliterated-GGUF/Qwen3-4B-Instruct-2507-abliterated.Q4_K_M.gguf
  local_dir: pretrained_models/llm
  model_alias: gpt-3.5-turbo
  repo_id: prithivMLmods/Qwen3-4B-2507-abliterated-GGUF
mcp:
  servers:
    brave_search:
      transport: sse
      url: http://127.0.0.1:4002/messages
    google_maps:
      transport: sse
      url: http://127.0.0.1:4001/messages
    mcp-fetch:
      transport: sse
      url: http://127.0.0.1:4003/messages
    weather:
      transport: sse
      url: http://127.0.0.1:4004/messages
spotify:
  redirect_uri: http://127.0.0.1:8888/callback
home_assistant:
  enabled: true
  url: http://localhost:8123
  token: ""
tools:
  calculator: true
  currency: true
  news: true
  spotify: true
  system: true
  translator: true
  weather: true
  web_search: true
  wikipedia: true
tts:
  chatterbox:
    audio_prompt_path: voice_samples/jarvis_sample.wav
    device: cpu
    language: en
    model_name: ChatterboxMultilingualTTS
  engine: kokoro
  kokoro:
    lang_code: a
    sample_rate: 24000
    voice: am_liam
